<nav class=" navbar bg-dark navbar-expand-xl|lg|md|sm">
     <ul class="flex-row navbar-nav ">
          <li class="nav-item space-between">
               <a routerLink='/home' class="text-centered text-white nav-link btn btn-primary">Home</a>
          </li>
          <li class="nav-item space-between">
               <a routerLink="/documentation" class="text-centered text-white nav-link btn btn-primary">Documentation</a>
          </li>
          <li class="nav-item space-between">
               <a routerLink='/feedback' class="text-centered text-white nav-link btn btn-primary">FeedBack</a>
          </li>
          <li class="nav-item space-between">
               <a routerLink='/add-new-pet' class="text-centered text-white nav-link btn btn-success">Add your pet  <i class="fas fa-plus"></i></a>
          </li>
     
     </ul>

</nav>