<h1><small>A quick survey</small></h1>
<p class="text-justify text-muted">
    You are enjoying our app ? Or you want to share your innovatives ideas ?
    Feel free to let us know in the section below.
</p>
<br>
<form action="">
    <div class="form-group">
        <label for="opinion"> <h3><small>Express yourself: </small></h3></label>
        <textarea class="form-control" placeholder="Write down your ideas"
         name="" id="opinion" cols="20" rows="10"></textarea>
    </div>
</form>
<button class="btn btn-primary">Send   <i class="far fa-paper-plane"></i></button>