<div class="message-wrapper">
        <h1>Erreur - contenu introuvable</h1>
        <article>
            Il semblerait que vous êtes à la recherche de quelque chose qui n'existe pas
            sur le site.
        </article>
        <div>Icons made by <a href="https://www.flaticon.com/authors/twitter" title="Twitter">Twitter</a> from <a href="https://www.flaticon.com/" 
            title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
       <div>
            <img src="../../assets/images/thinking.png" alt="thinking_error">
       </div>     
</div>
