/* You can add global styles to this file, and also import other style files */
html {
    height:100%;
}
body {
    height:100%;
    font-family: 'Roboto', sans-serif;
    padding:0px;
    margin:0px;
}

section.wrapper {
    padding:15px;
    height:100%;
}